#flc-page {
  width: 972px;
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
  font-size: 1.15em;
}
#flc-page * {
  line-height: 1.5em;
}
.img-right {
  float: right;
  margin: 0 1em;
}
.clearfix {
  overflow: auto;
}
.toy-controls {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
select, button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.toy-control {
  margin: 0 0.5em;
}
.story-next-btn, .story-prev-btn {
  cursor: pointer;
}
#name-field {
  width: 8em;
}
#height-slider {
   width: 8em;
}
.color-box {
  display: inline-block;
  text-align: center;
  line-height: 30px !important;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  vertical-align: bottom;
}
.color-box > input {
  display: inline-block;
  height: 25px;
}

.flc-toy-wrapper {
  width: 1800px;
  width: 972px;
  margin-top: 6em;
}
canvas {
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent canvas from being highlighted on taps */
  margin-bottom: 20px;
}
.story-shuttle-box.hover {
  position: fixed;
  bottom: 15px;
}
.story-shuttle-box {
  width: 486px;
  min-height: 1.5em;
  background-color: white;
  border: 5px solid silver;
  padding: .5em;
  position: relative;
}
#sandbox-toy-wrapper .story-shuttle-box {
  overflow: auto;
}
.story-shuttle-box.hidden {
   opacity: 0;
   z-index: -1;
}
.story-shuttle-box.active {
  border: 5px solid #3498db;
}
@media (max-width: 525px) {
  .story-shuttle-box.hover {
    width: 100%;
    box-sizing: border-box;
  }
}
.story-controls {
  float: right;
  margin: .25em 0 .1em .25em;
  height: 27px;
}
.clear-both {
  clear: both;
}
.scroll-down-arrow {
  display: none;
  width: 50px;
  height: 115%;
  position: absolute;
  left: 103%;
  top: 0px;
  background-image: url('../images/pulsing-down-arrow-outline.gif');
  background-repeat: no-repeat;
}
.small-print {
  font-size: .8em;
  line-height: 1.5em;
}
.occupancy-error {
  display: none;
  vertical-align: top;
}
.warning {
  color: #A11C3F;
}

/* reset styles applied by Portal */
#flc-page button {
  border-radius: 0;
}
#flc-page .clearfix p {
  line-height: 1.5;
}
