#flcPage {
  width: 972px;
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
  font-size: 1.15em;
}
#flcPage * {
  line-height: 1.5em;
}
.img-right {
  float: right;
  margin: 0 1em;
}
.clearfix {
  overflow: auto;
}
.toyControls {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
select, button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.toyControl {
  margin: 0 0.5em;
}
.storyNextBtn, .storyPrevBtn {
  cursor: pointer;
}
#nameField {
  width: 8em;
}
#heightSlider {
   width: 8em;
}
.colorBox {
  display: inline-block;
  text-align: center;
  line-height: 30px !important;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  vertical-align: bottom;
}
.colorBox > input {
  display: inline-block;
  height: 25px;
}

.flc-toy-wrapper {
  width: 1800px;
  width: 972px;
  margin-top: 6em;
}
canvas {
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent canvas from being highlighted on taps */
  margin-bottom: 20px;
}
.storyShuttleBox.hover {
  position: fixed;
  bottom: 15px;
}
.storyShuttleBox {
  width: 486px;
  min-height: 1.5em;
  background-color: white;
  border: 5px solid silver;
  padding: .5em;
  position: relative;
}
#sandbox-toy-wrapper .storyShuttleBox {
  overflow: auto;
}
.storyShuttleBox.hidden {
   opacity: 0;
   z-index: -1;
}
.storyShuttleBox.active {
  border: 5px solid #3498db;
}
@media (max-width: 525px) {
  .storyShuttleBox.hover {
    width: 100%;
    box-sizing: border-box;
  }
}
.storyControls {
  float: right;
  margin: .25em 0 .1em .25em;
  height: 27px;
}
.clearBoth {
  clear: both;
}
.scrollDownArrow {
  display: none;
  width: 50px;
  height: 115%;
  position: absolute;
  left: 103%;
  top: 0px;
  background-image: url('../images/pulsing-down-arrow-outline.gif');
  background-repeat: no-repeat;
}
.smallPrint {
  font-size: .8em;
  line-height: 1.5em;
}
.occupancyError {
  display: none;
  vertical-align: top;
}
.warning {
  color: #A11C3F;
}

/* reset styles applied by Portal */
#flcPage button {
  border-radius: 0;
}
#flcPage .clearfix p {
  line-height: 1.5;
}
