body {
  width: 972px;
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
  font-size: 1.15em;
  line-height: 1.5em;
}
.img-right {
  float: right;
  margin: 0 1em;
}
.clearfix {
  overflow: auto;
}
.toyControls {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
}
select, button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
.toyControl {
  margin: 0 0.5em;
}
.colorBox {
  display: inline-block;
  margin-right: .5em;
}
.colorBox::before {
  margin-top: -.25em;
  margin-left: -.25em;
  width: 1.6em;
  height: 1.6em;
  content: '';
  display: block;
}
.colorBox:checked::before { content: '✔'; text-align: center; }

.flc-toy-wrapper {
  width: 1800px;
  width: 972px;
}
#FamilyLearningCycleToy {
  border: 1px dotted silver;
  margin: 0px;
}
canvas {
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent canvas from being highlighted on taps */
}
.storyHoverBox {
  /* position: fixed; */
  bottom: 1em;
  margin-left: -.75em;
  width: 486px;
  background-color: white;
  border: 1px solid silver;
  box-shadow: .5em .5em .5em #F0F0F0;
  padding: .5em;
}
@media (max-width: 1020px) {
  .storyHoverBox {
    margin-left: 0;
  }
}
@media (max-width: 525px) {
  .storyHoverBox {
    width: 100%;
    box-sizing: border-box;
  }
}
.storyControls {
  float: right;
}
